#displayContainer {
    margin: 0.6rem;
    text-align: center;
}

#displayContainer a {
    text-decoration: underline;
}

.display-item {
    padding: 3rem;
}

.display-item-img {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 0rem auto 0;
    padding: 0rem;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;
}

#displayContainer img {
    padding: 0.5rem;
    animation: grow 1s 1 ease-in;
}

@keyframes grow {
    from { transform: scale(0.98); }
    to { transform: scale(1); }
}

hr {
    border: 2px dashed #ffffff;
    border-style: none none dashed; 
    color: transparent; 
    background-color: transparent;
}

h3 {
    font-size: 2rem;
    text-align: left;
}

.text-visual-display {
    text-shadow: rgba(12, 2, 72, 0.979) 1px 1px 4px;
    font-size: 1.3rem !important;
    text-align: center;
    padding: 0.3rem;
} 

@media screen and (min-width: 800px) {
    .coding {
        max-height: 40vh;
    }

    .tall {
        max-width: 30vw;
    }
    
    .short {
        max-height: 60vh;
    }
}

@media screen and (max-width: 800px) {
    .coding {
        max-height: 40vh;
        border-radius: 4px;
    }

    .tall {
        max-width: 70vw;
    }
    
    .short {
        max-height: 50vh;
        max-width: 90vw;
    }

    .display-item {
        padding: 1rem;
    }
}

.p5 {
  text-align: center !important;
  padding-top: 1rem;
}

#displayContainer .translucent {
  padding-left: 0.5rem;
}

