#displayContainer {
    margin: auto;
    padding: 0.6rem;
    text-align: center;
    overflow-x: hidden;
}

#displayContainer a {
    text-decoration: underline;
}

.display-item-description {
    margin: 0 !important;
}

.display-item {
    padding: 0.5rem;
    padding-top: 0.5rem;
}

.display-item-img {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 0rem auto 0;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;
}

#displayContainer img {
    padding: 0.5rem;
    transition: transform 1s;
}

#displayContainer img:hover {
    transform: scale(1.03);
    transition-timing-function: ease-in-out;
}

.text-visual-display {
    font-size: calc(1rem + 0.3vw);
    text-align: center;
} 

hr {
    border: 2px dashed #ffffff;
    border-style: none none dashed; 
    color: transparent; 
    background-color: transparent;
}

.display-item h3 {
    font-size: 2rem;
    padding-top: calc(0.9rem + 0.2vw);
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 3px;
}

@media screen and (min-width: 900px) {
    #displayContainer {
        padding: 1rem;
        width: 93vw;
    }

    .full-screen-container {
        height: 100vh;
        width: 100vw;
        background-color: rgba(255, 255, 255, 0.294);
    }

    .full-screen-container img {
        max-width: 95vw;
        max-height: 80vh;
    }

    .codingImg {
        max-height: 60vh;
    }

    .codingImg2 {
        max-height: 70vh;
    }

    .tall {
        max-width: 45vw;
    }
    
    .short {
        max-height: 60vh;
    }

    .sketch-short {
        max-height: 40vh;
    }
}

@media screen and (max-width: 900px) {
    .tall {
        max-width: 80vw;
    }
    
    .sketch-short {
        max-width: 80vw;
    }
    
    .short {
        max-width: 80vw;
    }

    .display-item {
        padding: 1rem;
    }

    .display-item h3 {
        font-size: 2rem;
        letter-spacing: 2px;
    }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
    .codingImg {
        height: 40vh;
        border-radius: 4px;
    }

    .codingImg2 {
        height: 60vh;
        border-radius: 4px;
    }
}

@media screen and (max-width: 699px){
    .codingImg {
        height: 40vh;
        border-radius: 4px;
    }

    .codingImg2 {
        height: 60vh;
        border-radius: 4px;
    }
}

.p5 {
  text-align: center !important;
  padding-top: 1rem;
}

#displayContainer .translucent {
  padding-left: 0.5rem;
}

.sliders {
    margin: 1rem;
    text-transform: uppercase;
}

.glow {
    filter: drop-shadow(0 0 0.75rem rgb(60, 66, 240));
}