body {
    height: 100%;
    margin: 1%;
    padding: 2%;
    background-color:rgb(243, 222, 156);
    background-image: url(../img/Miss/hide.png), url(../img/hill3.png);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
    font-size: xx-large;
    color: rgb(241, 241, 241);
    width: 100%;
    font-family: Helvetica;
    bottom: 10px;
    zoom: 1.2;
    overflow-x: hidden; 
    overflow-y: hidden;
}

.main-container {
    display: grid;
    grid-template-columns: 5fr 9fr;
}

.egg-word {
    display: none;
    visibility: hidden;
}

.egg {
  top: 20%;
  right: 15%;
  zoom: 0.8;
  padding: 2em;
}

/* Responsive layout - makes a 1 column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .main-container {
    display: grid;
    grid-template-columns: 7fr 9fr;
  }

  .p-fish-world {
    display: none;
    visibility: hidden;
  }

  .egg-word {
    display: block;
    visibility: visible;
    font-style: italic;
  }

  .egg {
    top: 50;
    right: 50;
    padding: 2em;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .main-container {
    display: block;
    grid-template-columns:  1fr;
  }

  .p-fish-world {
    display: none;
    visibility: hidden;
  }

  .egg-word {
    display: block;
    visibility: visible;
    font-style: italic;
  }

  .egg {
    zoom: 0.8;
    padding: 2em;
  }
}