
#spike2 {
    height: 10vh;
    position: absolute;
    top: 35.5vh;
    left: 50.5vw;
    filter: brightness(1.8);
    animation: tilt-n-move-shaking 0.25s 1;
    animation-delay: 6s;
  }
  

#spike1 {
    height: 35vh;
    position: absolute;
    top: 40vh;
    left: 60vw;
    z-index:3;
    filter: brightness(1.8);
    animation: tilt-n-move-shaking 0.25s 1;
    animation-delay: 2s;
}

#spike1:hover, #spike2:hover{
 animation: tilt-n-move-shaking 0.25s infinite;
}

@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

@media (prefers-reduced-motion: no-preference) {
    .hidden3 {
        transform: translate(0, -50%);
        opacity: 0;
        transform-origin: top;
        transition: transform .5s, opacity .5s;
    } 

    .show1 {
        opacity: 100;
        transform: translate(0);
    }
}
