.nav {
  height: 100%;
  top: 0;
  font-size: x-large;
  color: rgb(206, 237, 226);
  padding: 1em 1em 1em;
  margin: 1em 1em 1em;
}


.mobile-nav-icon {
    display: block;
    visibility: visible;
    position: absolute;
    top: 0.6em;
    right: 0.6em;
    zoom: 1.3;
}