.nav {
  height: 100%;
  top: 0;
  font-size: x-large;
  color: rgb(206, 237, 226);
  padding: 1em 1em 1em;
  margin: 1em 1em 1em;
}

.mobile-nav-icon {
  display: none;
  visibility: hidden;
}

.enter-world {
  display: none;
  visibility: hidden;
}

/* collapse nav into one icon, on click, make nav take up whole screen */
@media screen and (max-width: 800px) {
  .nav-items {
    display: none;
    visibility: hidden;
  }
  .mobile-nav-icon {
    display: block;
    visibility: visible;
    position: absolute;
    top: 0.6em;
    right: 0.6em;
    zoom: 1.3;
  }

  .enter-world {
    display: block;
    visibility: visible;
    position: absolute;
    top: 10em;
    right: 6em;
  }
}