#noiseContainer {
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 0rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

#noiseContainer a {
    text-decoration: underline;
}

.noise-item {
    padding: 3rem;
}

.noise-item-img {
    display: flex;
    justify-content: center;
    margin: 0rem auto 0;
    padding: 0rem;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;
}

#noiseContainer img {
    padding: 0.5rem;
}

hr {
    border: 2px dashed #ffffff;
    border-style: none none dashed; 
    color: transparent; 
    background-color: transparent;
}

h3 {
    font-size: 2rem;
    text-align: left;
}

.text-visual-noise {
    text-shadow: rgba(12, 2, 72, 0.979) 1px 1px 4px;
    font-size: 1.3rem !important;
    text-align: center;
    padding: 0.3rem;
} 

@media screen and (min-width: 800px) {
    .tall {
        max-width: 25vw;
    }
    
    .short {
        max-height: 50vh;
    }
}

@media screen and (max-width: 800px) {
    .tall {
        max-width: 70vw;
    }
    
    .short {
        max-height: 50vh;
        max-width: 70vw;
    }
}

.p5 {
  text-align: center !important;
  padding-top: 1rem;
}

#noiseContainer .translucent {
  padding-left: 0.5rem;
}