/******************************************************************************
pufferfish's styling
******************************************************************************/

@font-face {
    src: url('/static/fonts/Px437_Cordata_PPC-400.ttf') format('woff2');
    font-family: 'Px';
  }

  @font-face {
    src: url('/static/fonts/Loki.otf');
    font-family: 'Loki';
  }
  
  :root {
    --color-bg: white;
    --color-text-header: white;
    --color-text: white;
    --wrapper-height: 100vh;
    --image-max-width: 320px;
    --font-family: Px;
    --image-bg: linear-gradient(to bottom right, white, #ffdde1);
    --orange: #ffc033;
    --transparent: rgba(0,0,0,0);
  }
  
  
  /* Basic page style resets */
  * {
    box-sizing: border-box;
  }
  [hidden] {
    display: none !important;
  }

  div, .titleimg, #spike1, #spike2 {
    animation: grow 1s 1 ease-in;
  }

  @keyframes grow {
      from { transform: scale(0.998); }
      to { transform: scale(1); }
  }
  /* Navigation grid */
  .nav {
    top: 0;
    display: flex;
    justify-content: center;
    margin: 0rem auto 0;
    padding: 0rem;
    align-items: center;
    width: 100vw;
    flex-wrap: wrap;
    background: var(--transparent);
    color: white !important;
    font-family: Px;
  }
  
  .links {
    text-align: center;
    font-size: 1.6rem;
    padding: 1.5rem 2rem 1.5rem;
    font-family: Loki;
  }

  a:hover {
    animation: gelatine 0.5s 1;
  }

  .active {
    font-style: italic;
  }
  
  .divider {
    padding: 0 1rem;
    color: var(--transparent);
  }
  
  
  html {
    margin: 0;
    height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
  }
  
  
  /* Page structure */
  body {
    font-family: var(--font-family);
    background-color: var(--color-bg);
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 1;
    line-height: 1.4; 
    color: white;
    font-weight: bold;
  }
  
  .home {
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    height: 100vh !important;
    width: 100vw !important;
    background-color:rgb(243, 229, 185);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    animation: fadeInOpacity 1s 1 ease-in;
    overflow-y: auto;
  }
  
  .wrapper {
    min-height: var(--wrapper-height);
    display: grid;
    place-items: center;
    margin: 0 0rem;
    min-height: 86vh;
  }
  
  a {
    text-decoration: none;
  }
  
  /* unvisited link */
  a:link, a:visited {
    color: white;
    text-shadow: #fc0 1px 0 10px;
  }
  
  /* mouse over link */
  a:hover {
    color: #fc0;
    text-shadow: #fc0 1px 0 10px;
  }
  
  /* selected link */
  a:active {
    color: #c1e3e9;
    text-decoration: italics;
  }
  
  /* Page titles */
  h1 {
    color: var(--color-text-header);
    font-family: var(--font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 105%;
  }
  
  .titleimg {
    height: 10rem;
    margin-left: 0rem;
    margin-bottom: 0rem;
    margin-right: 0rem;
    margin-top: 1rem;
    padding: 1rem !important;
  }

  .titleimg:hover {
    animation: gelatine 0.5s 1;
  }

  @keyframes gentle-gelatine {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.98, 1.02); }
    50% { transform: scale(1.02, 0.98); }
    75% { transform: scale(0.99, 1.01); }
  }

  @keyframes gelatine {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
  }
  
  @media screen and (max-width: 850px) {
    .titleimg {
       height: 7.5rem;
       padding: 1rem !important;
       margin-bottom: 1rem;
    }
  }
  
  .fade-in {
      opacity: 1;
      animation-name: fadeInOpacity;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: 0.5s;
  }
  
  @keyframes fadeInOpacity {
      0% {
          opacity: 0.7;
      }
      100% {
          opacity: 1;
      }
  }
  
  .dropDownButton {
    background: var(--transparent);
    color: #ffffff;
    text-shadow: #fc0 1px 0 10px;
    border: none;
    font-size: 2.5rem;
    position: absolute;
    margin: 0 !important;
    padding: 0 !important;
    top: 5vh;
    right: 5vw;
    font-family: Px;
  }

  .dropDown .dropDownButton {
    background: var(--transparent);
    color: #fc0;
    text-shadow: #fc0 1px 0 10px;
    border: none;
    font-size: 2.5rem;
    position: absolute;
    margin: 0 !important;
    padding: 0 !important;
    top: 5vh;
    right: 5vw;
  }
  
  .dropDown {
    margin: 0;
    width: 100vw;
    position: absolute;
    top: 0vh;
    /* background-color: rgb(38, 38, 126); */
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
    background-size: contain, cover;
    background-position: bottom;
    z-index: 99;
    justify-content: space-between;
    margin: 0rem auto 0;
    padding: 3rem 1rem 0.75rem 1rem;
    animation: bounce-in-top 1s ease 1;
  }

  @keyframes bounce-in-top {
    0% {
      opacity: 0;
      transform: translateY(-2000px);
    }
    80% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }  
  
  .dropDownItem {
    text-align: center;
    font-size: 1.3rem;
    padding: 1.1rem;
    white-space: nowrap;
  }
  
  .dropDownItem a {
    color: #fc0;
    text-decoration: bold;
  }
  
  /* mouse over link */
  .dropDownItem a:hover {
    color:lightblue;
  }
  
  #navContainer {
    z-index: 99;
  }

  @media screen and (min-width: 800px) {
    .egg img {
        padding: 2rem;
        height: 60vh;
    }

    .text {
      /*text-shadow: rgba(12, 2, 72, 0.979) 1px 1px 4px; */
      font-size: 1.2rem !important;
      text-align: left;
    } 
  }

  @media screen and (max-width: 800px) {
    .egg img {
        padding: 2rem;
        width: 80vw;
    }

    .text {
      font-size: 0.8rem;
      text-align: left;
    } 

    .dropDownItem {
      font-size: 1rem;
    }
  }

  .translucent {
    background-color: #0d1b316f;
    border-radius: 1px;
  }

  .dark-translucent {
    background-color: #0d1b31dd;
    border-radius: 1px;
  }

  footer { 
    color: rgb(255, 255, 255);
    padding-top: 0.6rem;
    padding-bottom: 2rem;
    text-align: center;
    width: 100vw;
    margin: auto;
    font-weight: bold;
  }

  .bottom {
    position: absolute;
    bottom: 0;
  }

  /* animate elements on scroll only if the user does not have reduced motion enabled */
@media (prefers-reduced-motion: no-preference){
  .hidden1{
      transform: translate(0, 50%);
      opacity: 0;
      transform-origin: bottom;
      transition: transform .5s, opacity .5s;
  }

  .hidden2 {
      opacity: 0;
      transform: translate(-25%, 0);
      transform-origin: bottom;
      transition: transform 2s;
  }

  .show1{
      opacity: 100;
      transform: translate(0);
  }

  .hidden1:nth-of-type(2){
      transition: transform 1s, opacity 1s;
  }

  .hidden1:nth-of-type(3){
      transition: transform 1.5s, opacity 1.5s;
  }

  .hidden1:nth-of-type(4){
      transition: transform 2s, opacity 2s;
  }

  .hidden1:nth-of-type(5){
      transition: transform 2.5s, opacity 2.5s;
  }
}

.hide {
  display: none;
}

.loader {
  font-size: 2rem;
  font-weight: 500;
  color: white;
  font-family: Px;
  margin: 0;
  padding: 25vh 25vw 25vh 25vw;
  font-weight:  900;
  top: 0;
  right: 0;
  height: 100vh !important;
  width: 100vw !important;
  position: absolute;
  /* animation: fadeInOpacity 1s 1 ease-in; */
  overflow-y: auto;
}