body {
    margin: 0 auto;
    background-color: white;
    font-size:25px;
    text-align: center;
    color:rgb(42, 45, 69);
    position: absolute;
    top: 0%; 
    width: 100%;
    font-family: Fredoka One;
    zoom: 0.6;
    bottom: 10px;
}

nav {
    width: 95%;
   /* position: sticky; */
}

ul {
    list-style-position: outside;
}

.project ul {
    list-style-position: outside;
}

button {
    background-color: white;
    border: 2px solid rgb(42, 45, 69);
    border-radius: 7px;
    font-family: Fredoka One;
    font-size: 30px;
    color:rgb(42, 45, 69);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

i {
    font-size: 50px;
}

.projectsBox {
    margin: 0 auto;
    text-align: center;
    display:flex;
    max-width: 1700px;
    flex-direction: row;
    flex-wrap: wrap;
}

.photoItem {
    width: 1000px;
    max-height: 640px;
    border-radius:35px;
    margin: 0 auto;
}

.photoItem img {
    width: 1000px;
    max-height: 640px;
    border-radius: 40px;
}

.projectsButton {
    border-radius: 30px;
    max-width: 1200px;
    min-width: 1200px;
    border: 5px solid rgb(57, 201, 107);
    padding: 10px;
    font-size: 20px;
}

.rotaterAnimation {
    width: 500px;
    height: 700px;
}

form {
    zoom: 1.4;
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

input {
    border-radius: 7px;
    border: 2px solid lightgray;
    font-size: 20px;
    font-family: Fredoka One;
    color: rgb(168, 168, 168);
    height: 30px;
    width: 100%;
}

textArea {
    border-radius: 10px;
    border: 2px solid lightgray;
    font-size: 20px;
    height: 300px;
    font-family: Fredoka One;
    color: rgb(168, 168, 168);
    width: 100%;
}

#submitButton {
    color:rgb(42, 45, 69);
    font-size: 25px;
}

button:hover {
    transition-duration: 0.4s;
    background-color:lightgray;
}

a:link {
    color:rgb(42, 45, 69);
    text-decoration: none;
}

a:visited {
    color:rgb(42, 45, 69);
    text-decoration: none;
}

a:hover {
    color:silver;
    text-decoration: bold;
}

ul {
    margin: 0 auto;
    list-style: inside;
}

.logo {
    max-height: 350px;
    max-width: 600px;
}

.navContainer {
    text-align: right;
    margin: 0 auto;
    margin-right: 10px;
}

.navItems {
    
}

.projectsContainer {
    text-align: center;
    max-width: 1100px;
    min-width: 1100px;
    margin: 0 auto;
}

.projectsBody {
    text-align:left;
    margin-bottom: 50px;
    font-size: 30px;
    margin: 0 auto;
}

.project {
    /*background-color:rgb(237, 156, 85);*/
    background-color: rgb(73, 186, 65);
    text-align: center;
    border-radius: 50px;
    padding: 34px;
    padding-bottom: 0px;
    padding-bottom: 5px;
    margin:13px;
    font-weight: 40;
    color:rgb(255, 255, 255);
    margin-bottom: 75px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project h2 {
    color:rgb(246, 246, 246);
}


.projectElement {
    text-align:left;
    margin-bottom: 75px;
}

.contactContainer {
    text-align: center;
    margin: 0 auto;
    max-width: 560px;
}

.contact {
    margin: 0 auto;
    text-align:center;
}


.slideshow {
    margin: 0 auto;
    text-align: center;
    display:flex;
    max-width: 1200px;
    flex-direction: row;
    flex-wrap: wrap;
}

.contactEmailBody {
    height: 200px;
    resize: none;
}

.projects h1 {
}

.impInfo {
    font-style: italic;
    -webkit-font-smoothing: antialiased;
    

}

.impInfo a:link {
    color:white;
}

.impInfo a:visited {
   color:white;
}

.impInfo a:hover {
    color:rgb(249, 243, 224);
}