body {
    margin: 0 auto;
    background-color: white;
    font-size:25px;
    text-align: center;
    color:rgb(42, 45, 69);
    position: absolute;
    top: 1%; 
    width: 100%;
    font-family: Fredoka One;
    zoom: 0.6;
    bottom: 10px;
}

button {
    background-color: white;
    border: 2px solid rgb(42, 45, 69);
    border-radius: 7px;
    font-family: Fredoka One;
    font-size: 30px;
}

i {
    font-size: 50px;
}

.rotaterAnimation {
    width: 500px;
    height: 700px;
}

form {
    zoom: 1.4;
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

input {
    border-radius: 7px;
    border: 2px solid lightgray;
    font-size: 20px;
    font-family: Fredoka One;
    color: rgb(168, 168, 168);
    height: 30px;
    width: 100%;
}

textArea {
    border-radius: 10px;
    border: 2px solid lightgray;
    font-size: 20px;
    height: 300px;
    font-family: Fredoka One;
    color: rgb(168, 168, 168);
    width: 100%;
}

#submitButton {
    color:rgb(42, 45, 69);
    font-size: 25px;
}

button:hover {
    transition-duration: 0.4s;
    background-color:lightgray;
}

a:link {
    color:rgb(42, 45, 69);
    text-decoration: none;
}

a:visited {
    color:rgb(42, 45, 69);
    text-decoration: none;
}

a:hover {
    color:silver;
    text-decoration: bold;
}

ul {
    margin: 0 auto;
    list-style: inside;
}

.logo {
    max-height: 350px;
    max-width: 600px;
}

.navContainer {
    text-align: right;
    margin: 0 auto;
    margin-right: 10px;
}

.navItems {
    
}

.projectsContainer {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}

.projectsBody {
    zoom: 0.8;
    margin-bottom: 50px;
    text-align:left;
    margin: 0 auto;
}

.contactContainer {
    text-align: center;
    margin: 0 auto;
    max-width: 560px;
}

.contact {
    margin: 0 auto;
    text-align:center;
}


.slideshow {
    margin: 0 auto;
    text-align: center;
    display:flex;
    max-width: 1100px;
    flex-direction: row;
    flex-wrap: wrap;
}

.contactEmailBody {
    height: 200px;
    resize: none;
}