body {
    margin: 0 auto;
    background-color: white;
    font-size:25px;
    text-align: center;
    color:rgb(42, 45, 69);
    position: absolute;
    top: 2%; width: 100%;
    font-family: Fredoka One;
    zoom: 0.7;
    bottom: 10px;
}

button:hover {
    transition-duration: 0.4s;
    background-color:lightgray;
}

a:link {
    color:rgb(42, 45, 69);
    text-decoration: bold;

}

a:visited {
    color:rgb(42, 45, 69);
    text-decoration: bold;
}

button {
    font-family: 'Chango', sans-serif;
    font-size:18px;
    color:white;
    background-color:lightskyblue;
    box-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    border-radius: 6px;
    border: 2px solid;
    text-align: center;
}

.logo {
    max-height: 390px;
    max-width: 650px;
}

.home {
}

.projectsBody {
    zoom: 0.8;
    margin-bottom: 50px;
    text-align:left;
    margin-left: 35%;
    margin-right:35%; 
}

.leftSide {
}

ul {
    margin: 0 auto;
    list-style: inside;
}

.contact {
    text-align:left;
    margin-left:42%; 
    margin-right:42%; 
}
