<div name="name">
  <div class="name" style="vertical-align: bottom; margin-bottom:1.5%;">
      Aditi Khare. 
      <a href="#projects">
          <button class="browse-button" style="vertical-align: bottom;"> browse software portfolio </button>
      </a>
  </div>
</div> 
  
  
<a href="{% url 'animations-demo' %}">
  <button class="proj-source right"> view project demo  > </button> 
</a>

<div id="front-carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
  {% for pic in carousel_pics %}
      <div class="carousel-item carousel-pic-activator">
        {% block loadcarouselpic %}
        <img class="full-width front-carousel-pic" src="{{pic}}">
        {% endblock loadcarouselpic %}
      </div>
  {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#front-carousel" data-bs-slide="prev"></button>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#front-carousel" data-bs-slide="next">
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% block extrascripts %}
<script type="text/javascript">
  $( document ).ready(function() {
    pics = $(".carousel-pic-activator").get();
    indicators = $(".carousel-indicator").get();
    active_pic = Math.floor((Math.random() - 0.01) * (pics.length));
    $(pics[active_pic]).addClass("active");
    $(indicators[active_pic]).addClass("active");
    for (let i = 0; i < pics.length; i++) {
      if (i !== active_pic) {
        $(pics[i]).removeClass("active");
        $(indicators[i]).removeClass("active");
      }
    }
  });
</script>
{% endblock extrascripts %}