{% load static %}
<nav class="flex top left">
    <div class="flex-child">
        <a href="mailto:aditikh@umich.edu"> <i class="fas fa-envelope-square"></i> </a>
        <a href="https://github.com/aditikhare33/">  <i class="fab fa-github-square"></i> </a> 
        <a href="https://www.linkedin.com/in/aditi-khare-71b093199/">  <i class="fab fa-linkedin"> </i> </a> 
    </div>
    <div class="right nav-items flex-child" style="float:right;">
        <a href = "{% url 'index' %}">home</a>
        &emsp; 
        <a href = "/#projects">projects</a>
        &emsp; 
        <a href = "/#about">about</a>  
    </div>   
</nav>