{% load static %}

<div class="projects">
<div id="projects" class="name">
    Projects
</div>



<div class="project-overview-filter-tags" style="text-align:center;">
    {% for tag in project_tags %} 
        {% if tag == "featured" %}
        <button class="green"> {{tag}} </button>
        {% else %}
        <button > {{tag}} </button>
        {% endif %}
    {% endfor %}
</div>

<div class="flex">
{% for project, value in projects.items %}
    <div class="project-overview-card">
        <a href="{% url value.link %}">
            <img class="project-overview-img full-width" src="{% static value.photo %}">
            <h1><div class="project-overview-title"> {{project}} </div></h1>
            <div class="project-overview-body" >
                {{value.description}}
                <div class="project-overview-tags">
                    {% for tag in value.tags %}
                        <button> {{tag}} </button>
                    {% endfor %}
                </div>

                <div class="see-more" style="text-align:right; bottom:0;" >
                <a href="{% url value.link %}"> 
                    <button>
                        see more > 
                    </button>
                </a>
                </div>
            </div>
        </a>
    </div>

{% endfor %}
</div>
</div>